<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBA-PLATEFORME</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Poppins Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Bienvenue sur HBA-PLATEFORME</h1>

    <div style="text-align: center;">
        <a href="/add">➕ Ajouter un projet</a>
    </div>

    <section class="projects">
        {% if projects %}
            {% for project in projects %}
            <div class="card">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p style="text-align: center; margin-top: 30px; font-size: 1.2em; color: #777;">Aucun projet pour le moment.</p>
        {% endif %}
    </section>

</body>
</html>

